ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px 20px; 
  background-color: #333;
  border-bottom: 2px solid #222; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #fff; 
  text-decoration: none;
  padding: 10px 15px; 
  transition: all 0.3s ease; 
}
.nav-link:hover {
  background-color: #555; 
  border-radius: 5px; 
}